:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
  min-width: 360px;
  max-width: 1280px;
}

body {
  margin: 0;
  padding: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 3%
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 3em;
}

nav ul{
list-style-type: none;
display: flex;
flex-wrap: wrap;
}

nav ul li{
 padding-left: 2em;
 font-size: var(--font-size-lg);
 text-decoration: none;
}

nav ul li a:link,
nav ul li a:visted {
 text-decoration: none;
 color:#222;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.grid #highlight {
  grid-column: 1/4;
}

.text{
  padding-left: 2em;
  padding-right: 2em;
}

.text h2{
  font-size: var(--font-size-xl);
}
.text h4{
  font-size: var(--font-size-lg);
}

.button{
  text-decoration: none;
  font-style: var(--font-size-md);
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: .5em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

#dough{
  padding-left: 2em;
  padding-right: 2em;
}

#dough h3{
  text-align: center;
}

#review{
  margin: 0 auto;
  padding: 2em;
  background-color: #222;
  color: #fff;
}

#review h3{
  text-align: center;
}

#review ul li{
  list-style-type: none;
}



footer{
  font-size: var(--font-size-sm);
  text-align: center;
}