:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
  min-width: 360px;
  max-width: 1280px;
}

body {
  padding: auto
}

img {
  display: block;
  max-width: 100%;
  border-radius: 3%
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 1em;
}

nav ul{
list-style-type: none;
display: flex;
flex-wrap: wrap;
}

nav ul li{
 padding-left: 2em;
 font-size: var(--font-size-lg);
 text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited {
 text-decoration: none;
 color:#222;
}

#feature{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  border-top: 3px solid #f9f9f9;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.grid #highlight {
  grid-column: 1 / 4;
}

.text{
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  font-size: var(--font-size-base);
}

.text h2{
  font-size: var(--font-size-xl);
}
.text h3{
  font-size: var(--font-size-lg);
}
.text h4{
  font-size: var(--font-size-sm);
}

.button{
  text-decoration: none;
  font-size: var(--font-size-base);
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: .5em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

#dough{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 3px solid #f9f9f9;
  font-size: var(--font-size-base);
}

#dough h3{
  font-size: var(--font-size-lg);
  text-align: center;
}

#review{
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #222;
  color: #fff;
}

#review h3{
  font-size: var(--font-size-lg);
  text-align: center;
}

#review ul li{
  list-style-type: none;
}

#try h3{
  font-size: var(--font-size-lg);
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.trylist{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2em;
}

.trylist article{
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 3% ;
}

.trylist article img{
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}

footer{
  font-size: var(--font-size-sm);
  text-align: center;
  border-top: 3px solid #f9f9f9;
  padding: 3em;
}

@media (min-width: 75em) {

  body{
    margin-left: auto;
    align-items: center;
  }

  .grid{
    grid-template-columns: 1fr 1fr;
  }
  
  .grid #highlight {
    grid-column: 1 / 2;
  }

  #feature{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .text{
    margin-top: -1.5em;
  }

  .text h2{
    font-size: var(--font-size-lg);
    margin-bottom: -1em;
  }

  .text h3{
    font-size: var(--font-size-md);
  }

  .text h4{
    margin-top: -2em;
  }

  #dough div{
    display: flex;
    gap: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 4em;
  }

  #review{
    padding-left: 0;
    padding-right: 0;
  }

  #review ul{
    display: flex;
    gap: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .trylist{
    display: flex;
    gap: 1rem;
    padding: 2em;
  }

}